.todo-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    margin: 3vh 0;

    &__list {
        width: 60vw;
    }
}